.hero {
  display: flex;
  background: url(../assets/background.png) center/cover no-repeat;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #00000099;
    z-index: 1;
  }

.hero-content {
  padding: 40px 27%;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.hero h1 {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
}

.hero p {
  color: #E0E0E0;
  text-align: center;
}

.explore-btn {
  padding: 8px 25px;
  border: 1.82px solid #0078FF;
  border-radius: 8px;
  background: none;
  color: #0078FF;
  margin-left: 10px;
}