.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 330px; 
  padding: 30px 20px;
  transition: margin-left 0.3s ease;
}

.dashboard-navbar {
  background: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  z-index: 999; 
}

.dashboard-container {
  min-height: 100vh;
  background: #000000;
  color: #e5e7eb;
  font-family: Inter, sans-serif;
}

.dashboard-inner {
  max-width: 1200px;
}

.layout {
  display: flex;
  gap: 24px;
}


.dashboard-sidebar {
  width: 250px;
  position: fixed;
  background: #252525;
  padding: 98px 18px;
  border-radius: 8px;
  min-height: 80vh;
}

.sidebar-title {
  font-size: 14px;
  font-weight: 600;
}

.sidebar-subtitle {
  font-size: 11px;
  color: #9ca3af;
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  color: #d1d5db;
}

.nav-item:hover {
  background: #0078FF26;
}

.nav-item.active {
  background: #0078FF26;
  color: #fff;
}

.sidebar-footer {
  margin-top: 20px;
  font-size: 11px;
  color: #6b7280;
}


.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
}

.main-subtitle {
  font-size: 13px;
  color: #9ca3af;
}

.header-right {
  display: flex;
  gap: 12px;
}

.upload-btn {
  background: #FFD700;
  color: #111827;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 500;
  border: none;
}

.profile-box {
  padding: 6px 12px;
  border: 1px solid #374151;
  border-radius: 6px;
  font-size: 14px;
}

/* Stats */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin-top: 20px;
}

.stat-card {
  background: #2C2C2C99;
  padding: 16px 16px;
  border-radius: 8px;
  border: 1px solid #FFFFFF1A
}

.stat-content {
  display: flex;
  justify-content: space-between;
}

.stat-label {
  font-size: 12px;
  color: #9ca3af;
}

.stat-value {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
}

.stat-change {
  font-size: 11px;
  color: #9ca3af;
  margin-top: 6px;
}

/* Stat Icon Colors */
.stat-icon {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon.yellow { background: #facc15; }
.stat-icon.sky { background: #0284c7; }
.stat-icon.indigo { background: #4f46e5; }
.stat-icon.emerald { background: #059669; }

/* Sparkline bars */
.sparkline {
  margin-top: 12px;
  display: flex;
  align-items: end;
  gap: 4px;
  height: 25px;
}

.bar {
  width: 10px;
  border-radius: 3px;
}

.bar-yellow { background: #facc15; }
.bar-sky { background: #0284c7; }
.bar-indigo { background: #4f46e5; }
.bar-emerald { background: #059669; }

/* Random bar heights */
.bar-h0 { height: 22px; }
.bar-h1 { height: 12px; }
.bar-h2 { height: 8px; }
.bar-h3 { height: 14px; }
.bar-h4 { height: 10px; }
.bar-h5 { height: 20px; }

/* Recent */
.recent-section {
  background: #2C2C2C99;
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
}

.recent-header {
  display: flex;
  justify-content: space-between;
}

.recent-title {
  font-size: 18px;
  font-weight: 600;
}

.view-all {
  color: #38bdf8;
  cursor: pointer;
}

.recent-list {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent-item {
  background: #2C2C2C99;
  padding: 12px;
  border: 1px solid #FFFFFF1A;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.recent-left {
  display: flex;
  gap: 12px;
}

.recent-icon {
  width: 40px;
  height: 40px;
  background: #374151;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-text {
  font-size: 14px;
}

.recent-time {
  font-size: 11px;
  color: #6b7280;
}

.recent-badge {
  background: #facc15;
  color: #111827;
  padding: 10px;
  font-size: 12px;
  border-radius: 6px;
}

/* Footer */
.footer {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
  color: #6b7280;
}
