.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 32px;
  background: #1A1A1A66;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 50px;
  height: 30px;
}

.logo p {
 font-weight: bold;
 font-size: 1.2rem;
 margin-top: 9px;
 margin-bottom: 1px;
}

.logo span {
  font-size: 0.8rem;
}

.nav-links a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #4b5563;
  font-weight: 400; 
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #FFD700;
}

.connect-btn {
  background: #FFD700;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  margin-left: 16px;
}

.wallet-section {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #4b5563;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.nav-link.active {
  color: #2563eb;
  font-weight: 600;
  border-bottom: 2px solid #FFD700;
}
