.footer {
  background: #000;
  padding: 40px 0 60px;
  text-align: center;
  color: #aaa;
  font-size: 13px;
}

.footer-copy {
  margin-bottom: 8px;
  opacity: 0.8;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

.footer-links a {
  color: #ccc;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.75;
}

.footer-links a:hover {
  opacity: 1;
  color: #FFD700;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 5px;
}

.footer-icons a {
  color: #ddd;
  opacity: 0.8;
  transition: 0.2s;
}

.footer-icons a:hover {
  opacity: 1;
}
